* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Noto Sans CJK KR","Noto Sans","RobotoDraft","Roboto",-apple-system,"Apple SD Gothic Neo","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color:#000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: 0;
  background: none;
}